.ol-dji-geozones.ol-control {
  bottom: 1em;
  left: 1em;
  padding: 8px;
  background-color: rgb(255 255 255);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.278);
}

.ol-dji-geozones h3 {
  color: #343434;
  margin: 0.2em 0;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 1.1px;
  font-size: 1em;
}
.ol-dji-geozones--drone-selector select {
  margin: 0.7em 0 1em;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  background: #ffffff;
  max-width: 100%;
  font-size: 0.95em;
  padding: 6px 4px;
  cursor: pointer;
  color: #323232;
}
.ol-dji-geozones--drone-selector select:hover{
  border: 1px solid #919191;
}
.ol-dji-geozones--drone-selector select:focus {
  outline: 0;
}
.ol-dji-geozones--item-ctl label:hover,
.ol-dji-geozones--item-ctl input:hover,
.ol-dji-geozones--item-ctl select:hover {
  cursor: pointer;
}

.ol-dji-geozones--ctrl-disabled .ol-dji-geozones--advice {
  display: inline-block;
  font-size: 0.9rem;
  font-style: italic;
}
.ol-dji-geozones--level-selector label{
  color: #414141;
}
.ol-dji-geozones--ctrl-disabled.ol-dji-geozones--ctrl-disabled .ol-dji-geozones--loading,
.ol-dji-geozones--ctrl-disabled .ol-dji-geozones--level-selector,
.ol-dji-geozones--ctrl-disabled .ol-dji-geozones--drone-selector,
.ol-dji-geozones--ctrl-disabled h3 {
  display: none;
}

.ol-dji-geozones--advice,
.ol-dji-geozones--ctrl-hidden {
  display: none;
}

.ol-dji-geozones--isLoading .ol-dji-geozones--loading {
  display: initial;
}

.ol-dji-geozones--loading {
  display: none;
}

.ol-dji-geozones--mark {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  padding: 0.2em;
  margin: 0 0.3em;
}

/* PopUp */
.ol-dji-geozones--ol-popup {
  position: absolute;
  bottom: 12px;
  left: -170px;
}

.ol-dji-geozones--ol-popup:after,
.ol-dji-geozones--ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-dji-geozones--ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.ol-dji-geozones--ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.ol-dji-geozones--ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 12px;
  z-index: 1;
  color: #8b8b8b;
}
.ol-dji-geozones--ol-popup-closer:hover {
  color: #535353;
}
.ol-dji-geozones--ol-popup-closer:after {
  content: "✖";
}
.ol-dji-geozones--ol-popup-content {
  width: 340px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  color: #707473;
  font-size: 12px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ol-dji-geozones--ol-popup-content p {
  margin: 0;
}
.ol-dji-geozones--ol-popup-content a {
  color: #44a8f2;
  font-size: 12px;
  text-decoration: none;
}
.ol-dji-geozones--item {
  display: inline-block;
}
.ol-dji-geozones--marker {
  float: left;
  width: 32px;
  text-align: center;
}

.ol-dji-geozones--marker img {
  height: auto;
  max-width: 100%;
}

.ol-dji-geozones--main {
  margin-left: 40px;
}

.ol-dji-geozones--main .ol-dji-geozones--title {
  color: #707473;
  font-size: 14px;
  margin: 0 0 5px;
  padding-right: 15px;
}

.ol-dji-geozones--item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  box-sizing: border-box;
}
.ol-dji-geozones--ol-popup-content hr {
  margin: 20px 0;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #e5e7e6;
}
.ol-dji-geozones--ol-popup-content hr:last-child {
  display: none;
}
.ol-dji-geozones--info {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  padding: 15px;
  width: 200px;
  border-radius: 3px;
  background-color: var(--level-color);
  border-bottom: 4px solid var(--level-color);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  text-align: center;
}
.ol-dji-geozones--info.ol-dji-geozones--active-tooltip {
  position: relative;
  display: block;
  margin-left: -100px;
  z-index: 99;
  transform: translateY(-100%);

}
.ol-dji-geozones--info.ol-dji-geozones--active-tooltip:after,
.ol-dji-geozones--info.ol-dji-geozones--active-tooltip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-dji-geozones--info.ol-dji-geozones--active-tooltip:after {
  border-top-color: var(--level-color);
  border-width: 10px;
  left: 50%;
  margin-left: -15px;
}

.ol-dji-geozones--info-text{
  color: #333;
  font-size: 11.5px;
  position: relative;
  z-index: 2;
}
.ol-dji-geozones--info-back {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.8;
}

.ol-dji-geozones--tooltip {
  display: inline-block;
}
.ol-dji-geozones--tooltip svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: #8b8b8b;
  pointer-events: none;
}
.ol-dji-geozones--tooltip .ol-dji-geozones--icon:hover svg {
  fill: #535353;
}
.ol-dji-geozones--ol-popup-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.ol-dji-geozones--ol-popup-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* End PopUp */

/* Tooltips */
.ol-dji-geozones--icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.ol-dji-geozones--info.ol-dji-geozones--active-tooltip {
  visibility: visible;
  opacity: 1;
}
/* End Tooltips */

/* loading.io css spinner ( https://loading.io/css/ ) */
.lds-ellipsis {
  position: relative;
  width: 30px;
  height: 14px;
  float: right;
  margin-right: 10px;
}
.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5a5a5a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
/* End loading */
